openapi: 3.2.0
x-generated-from: documentation
x-generated-note: >-
  Written by API Evangelist from Ford's public developer page and the public FordConnect
  simulator, as info.description already states. Ford does not publish an OpenAPI. This is a
  best-effort third-party description, not a Ford contract, and every artifact derived from it
  inherits that provenance. Marked 2026-09-10 so automated readers see what the prose says.
info:
  title: FordConnect Charging Status API
  version: '1.0'
  description: 'Best-effort OpenAPI 3.1 description of the FordConnect API, derived from

    the public developer page at https://developer.ford.com/apis/fordconnect

    and the public FordConnect simulator at

    https://github.com/jamisonderek/ford-connect-sim. The FordConnect API

    allows authorized partners to send vehicle commands (lock, unlock, start,

    stop, charge) and retrieve vehicle status and information for enrolled

    Ford and Lincoln vehicles. Authentication uses OAuth 2.0 with an

    authorization-code grant; access tokens are passed as `Authorization:

    Bearer` headers.

    '
  contact:
    name: Ford Developer
    url: https://developer.ford.com/
servers:
- url: https://api.mps.ford.com
  description: Production (FordConnect)
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Status
paths:
  /api/fordconnect/vehicles/v1/{vehicleId}/status:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    post:
      tags:
      - Status
      summary: Request a fresh vehicle status snapshot
      responses:
        '202':
          $ref: '#/components/responses/Command'
  /api/fordconnect/vehicles/v1/{vehicleId}/location:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    post:
      tags:
      - Status
      summary: Request vehicle location
      responses:
        '200':
          $ref: '#/components/responses/Json'
components:
  parameters:
    VehicleId:
      name: vehicleId
      in: path
      required: true
      schema:
        type: string
  responses:
    Command:
      description: Command accepted
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
              commandStatus:
                type: string
              commandId:
                type: string
    Json:
      description: JSON response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization-code grant brokered through Ford's identity service
      flows:
        authorizationCode:
          authorizationUrl: https://fordconnect.cv.ford.com/common/login
          tokenUrl: https://dah2vb2cprod.b2clogin.com/914d88b1-3523-4bf6-9be4-1b96b4f6f919/oauth2/v2.0/token
          scopes:
            access: Access enrolled vehicles
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
