openapi: 3.2.0
info:
  title: FordConnect Charging API
  version: '1.0'
  description: 'Best-effort OpenAPI 3.1 description of the FordConnect API, derived from

    the public developer page at https://developer.ford.com/apis/fordconnect

    and the public FordConnect simulator at

    https://github.com/jamisonderek/ford-connect-sim.'
  contact:
    name: Ford Developer
    url: https://developer.ford.com/
servers:
- url: https://api.mps.ford.com
  description: Production (FordConnect)
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Charging
paths:
  /api/fordconnect/vehicles/v1/{vehicleId}/startCharge:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    post:
      tags:
      - Charging
      summary: Start charging an EV
      responses:
        '202':
          $ref: '#/components/responses/Command'
      operationId: postApiFordconnectVehiclesV1ByVehicleIdStartCharge
      x-operation-id-source: derived
  /api/fordconnect/vehicles/v1/{vehicleId}/stopCharge:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    post:
      tags:
      - Charging
      summary: Stop charging an EV
      responses:
        '202':
          $ref: '#/components/responses/Command'
      operationId: postApiFordconnectVehiclesV1ByVehicleIdStopCharge
      x-operation-id-source: derived
  /api/fordconnect/vehicles/v1/{vehicleId}/chargeSchedules:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    get:
      tags:
      - Charging
      summary: Get EV charge schedule
      responses:
        '200':
          $ref: '#/components/responses/Json'
      operationId: getApiFordconnectVehiclesV1ByVehicleIdChargeSchedules
      x-operation-id-source: derived
  /api/fordconnect/vehicles/v1/{vehicleId}/departureTimes:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    get:
      tags:
      - Charging
      summary: Get configured departure times
      responses:
        '200':
          $ref: '#/components/responses/Json'
      operationId: getApiFordconnectVehiclesV1ByVehicleIdDepartureTimes
      x-operation-id-source: derived
components:
  responses:
    Command:
      description: Command accepted
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
              commandStatus:
                type: string
              commandId:
                type: string
    Json:
      description: JSON response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  parameters:
    VehicleId:
      name: vehicleId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization-code grant brokered through Ford's identity service
      flows:
        authorizationCode:
          authorizationUrl: https://fordconnect.cv.ford.com/common/login
          tokenUrl: https://dah2vb2cprod.b2clogin.com/914d88b1-3523-4bf6-9be4-1b96b4f6f919/oauth2/v2.0/token
          scopes:
            access: Access enrolled vehicles
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-generated-from: documentation
x-generated-note: Written by API Evangelist from Ford's public developer page and the public FordConnect simulator, as info.description already states. Ford does not publish an OpenAPI. This is a best-effort third-party description, not a Ford contract, and every artifact derived from it inherits that provenance. Marked 2026-09-10 so automated readers see what the prose says.
