openapi: 3.1.0
info:
  title: FordConnect Charging Vehicles API
  version: '1.0'
  description: 'Best-effort OpenAPI 3.1 description of the FordConnect API, derived from

    the public developer page at https://developer.ford.com/apis/fordconnect

    and the public FordConnect simulator at

    https://github.com/jamisonderek/ford-connect-sim. The FordConnect API

    allows authorized partners to send vehicle commands (lock, unlock, start,

    stop, charge) and retrieve vehicle status and information for enrolled

    Ford and Lincoln vehicles. Authentication uses OAuth 2.0 with an

    authorization-code grant; access tokens are passed as `Authorization:

    Bearer` headers.

    '
  contact:
    name: Ford Developer
    url: https://developer.ford.com/
servers:
- url: https://api.mps.ford.com
  description: Production (FordConnect)
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Vehicles
paths:
  /api/fordconnect/vehicles/v1:
    get:
      tags:
      - Vehicles
      summary: List vehicles enrolled with the calling FordPass account
      responses:
        '200':
          $ref: '#/components/responses/Json'
  /api/fordconnect/vehicles/v1/{vehicleId}:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    get:
      tags:
      - Vehicles
      summary: Get vehicle information
      responses:
        '200':
          $ref: '#/components/responses/Json'
components:
  parameters:
    VehicleId:
      name: vehicleId
      in: path
      required: true
      schema:
        type: string
  responses:
    Json:
      description: JSON response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization-code grant brokered through Ford's identity service
      flows:
        authorizationCode:
          authorizationUrl: https://fordconnect.cv.ford.com/common/login
          tokenUrl: https://dah2vb2cprod.b2clogin.com/914d88b1-3523-4bf6-9be4-1b96b4f6f919/oauth2/v2.0/token
          scopes:
            access: Access enrolled vehicles
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
