openapi: 3.1.0
info:
  title: FordConnect Charging Commands API
  version: '1.0'
  description: 'Best-effort OpenAPI 3.1 description of the FordConnect API, derived from

    the public developer page at https://developer.ford.com/apis/fordconnect

    and the public FordConnect simulator at

    https://github.com/jamisonderek/ford-connect-sim. The FordConnect API

    allows authorized partners to send vehicle commands (lock, unlock, start,

    stop, charge) and retrieve vehicle status and information for enrolled

    Ford and Lincoln vehicles. Authentication uses OAuth 2.0 with an

    authorization-code grant; access tokens are passed as `Authorization:

    Bearer` headers.

    '
  contact:
    name: Ford Developer
    url: https://developer.ford.com/
servers:
- url: https://api.mps.ford.com
  description: Production (FordConnect)
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Commands
paths:
  /api/fordconnect/vehicles/v1/{vehicleId}/lock:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    post:
      tags:
      - Commands
      summary: Issue a lock command
      responses:
        '202':
          $ref: '#/components/responses/Command'
  /api/fordconnect/vehicles/v1/{vehicleId}/lock/{commandId}:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    - $ref: '#/components/parameters/CommandId'
    get:
      tags:
      - Commands
      summary: Check lock command status
      responses:
        '200':
          $ref: '#/components/responses/Json'
  /api/fordconnect/vehicles/v1/{vehicleId}/unlock:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    post:
      tags:
      - Commands
      summary: Issue an unlock command
      responses:
        '202':
          $ref: '#/components/responses/Command'
  /api/fordconnect/vehicles/v1/{vehicleId}/unlock/{commandId}:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    - $ref: '#/components/parameters/CommandId'
    get:
      tags:
      - Commands
      summary: Check unlock command status
      responses:
        '200':
          $ref: '#/components/responses/Json'
  /api/fordconnect/vehicles/v1/{vehicleId}/startEngine:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    post:
      tags:
      - Commands
      summary: Remote start engine
      responses:
        '202':
          $ref: '#/components/responses/Command'
  /api/fordconnect/vehicles/v1/{vehicleId}/stopEngine:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    post:
      tags:
      - Commands
      summary: Remote stop engine
      responses:
        '202':
          $ref: '#/components/responses/Command'
  /api/fordconnect/vehicles/v1/{vehicleId}/wake:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    post:
      tags:
      - Commands
      summary: Wake the vehicle from sleep
      responses:
        '202':
          $ref: '#/components/responses/Command'
components:
  parameters:
    VehicleId:
      name: vehicleId
      in: path
      required: true
      schema:
        type: string
    CommandId:
      name: commandId
      in: path
      required: true
      schema:
        type: string
  responses:
    Json:
      description: JSON response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    Command:
      description: Command accepted
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
              commandStatus:
                type: string
              commandId:
                type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization-code grant brokered through Ford's identity service
      flows:
        authorizationCode:
          authorizationUrl: https://fordconnect.cv.ford.com/common/login
          tokenUrl: https://dah2vb2cprod.b2clogin.com/914d88b1-3523-4bf6-9be4-1b96b4f6f919/oauth2/v2.0/token
          scopes:
            access: Access enrolled vehicles
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
