openapi: 3.1.0
info:
  title: FordConnect Charging Images API
  version: '1.0'
  description: 'Best-effort OpenAPI 3.1 description of the FordConnect API, derived from

    the public developer page at https://developer.ford.com/apis/fordconnect

    and the public FordConnect simulator at

    https://github.com/jamisonderek/ford-connect-sim. The FordConnect API

    allows authorized partners to send vehicle commands (lock, unlock, start,

    stop, charge) and retrieve vehicle status and information for enrolled

    Ford and Lincoln vehicles. Authentication uses OAuth 2.0 with an

    authorization-code grant; access tokens are passed as `Authorization:

    Bearer` headers.

    '
  contact:
    name: Ford Developer
    url: https://developer.ford.com/
servers:
- url: https://api.mps.ford.com
  description: Production (FordConnect)
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Images
paths:
  /api/fordconnect/vehicles/v1/{vehicleId}/images/thumbnail:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    get:
      tags:
      - Images
      summary: Get vehicle thumbnail image
      responses:
        '200':
          description: Image
          content:
            image/png:
              schema:
                type: string
                format: binary
  /api/fordconnect/vehicles/v1/{vehicleId}/images/full:
    parameters:
    - $ref: '#/components/parameters/VehicleId'
    get:
      tags:
      - Images
      summary: Get full vehicle image
      responses:
        '200':
          description: Image
          content:
            image/png:
              schema:
                type: string
                format: binary
components:
  parameters:
    VehicleId:
      name: vehicleId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization-code grant brokered through Ford's identity service
      flows:
        authorizationCode:
          authorizationUrl: https://fordconnect.cv.ford.com/common/login
          tokenUrl: https://dah2vb2cprod.b2clogin.com/914d88b1-3523-4bf6-9be4-1b96b4f6f919/oauth2/v2.0/token
          scopes:
            access: Access enrolled vehicles
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
